/*------------------------------------------------------------------
[1. Layouts]
  [1.1 Body]
  [1.2 Header]
  [1.3 Page Container]
  [1.4 Footer]
  [1.5 SideBar]
  [1.6 Horizontal Menu]
*/

/* [1.1] Body
------------------------------------------------------------------
*/

// Variable
// --------------------------------------------------


// Making
// --------------------------------------------------
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* [1.2] Header
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sub_modules/header";


/* [1.3] Page Container
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sub_modules/container";


/* [1.4] Footer
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sub_modules/footer";


/* [1.5] SideBar
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sub_modules/sidebar";


/* [1.6] Horizontal Menu
------------------------------------
*/
// Import
// --------------------------------------------------
@import "sub_modules/horizontal_menu";


