// Trends z-index
// 
// Define all the z-index values used throughout the theme, 
// in this file to prevent any conflicts that can arise by
// using arbitrary values
// --------------------------------------------------
// Copyright Reserved AA - 2017

// z-index scale 
$ktv-zIndex-1:   100 !default;
$ktv-zIndex-2:   200 !default;
$ktv-zIndex-3:   300 !default;
$ktv-zIndex-4:   400 !default;
$ktv-zIndex-5:   500 !default;
$ktv-zIndex-6:   600 !default;
$ktv-zIndex-7:   700 !default;
$ktv-zIndex-8:   800 !default;
$ktv-zIndex-9:   900 !default;
$ktv-zIndex-10: 1000 !default;

$ktv-zIndex-sidebar : $ktv-zIndex-10 !default;
$ktv-zIndex-tooltips : $ktv-zIndex-10 !default;
$ktv-zIndex-notifications : $ktv-zIndex-9 !default;
$ktv-zIndex-navbar : $ktv-zIndex-8 !default;
$ktv-zIndex-dropdown : $ktv-zIndex-7 !default;
$ktv-zIndex-dropdownMask : $ktv-zIndex-6 !default;
$ktv-zIndex-portlet : $ktv-zIndex-6 !default;