/*------------------------------------------------------------------
[1.2 Layout SideBarNav]
*/
#middle #left-part,
.atx-body .left-part{
  display: none !important;
}

.atx-body .main-part {
  padding: $atx-base-unit*2 0;
  display: block;
  @include box-sizing(border-box);
}

.administration #middle #left-part,
.administration .atx-body .left-part,
.statistiques #middle #left-part,
.statistiques .atx-body .left-part {
  display: block !important;
  position: absolute;
}