/* [1.2] SideBar
------------------------------------
*/

// Variable
// --------------------------------------------------
$ktv-layout-sidebar-width: $ktv-sidebar-width !default;
$ktv-layout-sidebar-width--pin: $ktv-sidebar-width--pin !default;
$ktv-layout-sidebar-offset-right: $ktv-sidebar-offset !default;
$ktv-layout-sidebar-menu-color: $ktv-color-white;
$ktv-icon-thumbnail-transition: all 0.1s linear 0s !default;

// Mixin
// --------------------------------------------------

@mixin sidebar-btn-hover() {
  color: $ktv-layout-sidebar-menu-color;
  background-color: inherit;
}

@mixin sidebar-btn() {
  @include clearfix;
  padding-left: $ktv-base-unit*3;
  padding-right: $ktv-base-unit*2;
  display: block;
  line-height: $ktv-base-unit*5;
  min-height: $ktv-base-unit*5;
  color: rgba($ktv-layout-sidebar-menu-color, .4);
  text-transform: uppercase;
  text-decoration: none;
  @include transition($ktv-link-transition);

  &:hover,
  &.active {
    @include sidebar-btn-hover;
  }

  &.detailed {
    .title,
    .details {
      display: block;
      line-height: $ktv-base-unit*2.5;
    }
    .details {
      font-size: $font-size-base - 1;
      opacity: 0.4;
      display: block;
      clear: both;
    }
  }

}

@mixin sidebar-link($font-size, $begin, $limit) {
  @if ($begin < $limit) {
    li {
      a {
        font-size: $font-size;
        padding-left: $ktv-base-unit * (3 + ($begin * 2));
      }
      @include sidebar-link($font-size - ($begin + 1), $begin + 1, $limit);
    }
  }
}

@mixin recursive-link($font-size: $font-size-base + 2, $begin: 0, $limit: 4) {
  @include sidebar-link($font-size, $begin, $limit);
}

// Making
// --------------------------------------------------
.#{$ktv-prefix-class}sidebar {

  width: $ktv-layout-sidebar-width;
  background-color: $ktv-color-menu;
  z-index: $ktv-zIndex-sidebar;
  left: -($ktv-layout-sidebar-width - $ktv-layout-sidebar-offset-right);
  position: fixed;
  bottom: 0;
  top: 0;
  right: auto;
  overflow: hidden;
  @include transition-transform(400ms cubic-bezier(0.05, 0.74, 0.27, 0.99));

  &:hover,
  .#{$ktv-prefix-class}sidebar--pin & {
    @include translate(($ktv-layout-sidebar-width - $ktv-layout-sidebar-offset-right), 0);

    .#{$ktv-prefix-class}sidebar-header {
      .sidebar-header-controls {
        display: block;
      }
    }
  }

  .#{$ktv-prefix-class}sidebar--pin & {
    width: $ktv-layout-sidebar-width--pin;
  }

  a,
  .btn-link,
  .dropdown-menu > li > a {
    @include sidebar-btn;
  }

  ul {
    @include list-unstyled;
  }

  .#{$ktv-prefix-class}sidebar-header {
    position: relative;
    height: $ktv-header-height;
    padding: $ktv-base-unit*2 $ktv-base-unit*2 $ktv-base-unit*2 $ktv-base-unit*3;
    background-color: $ktv-color-menu-darkest;

    .sidebar-header-logo {
      float: left;
      &,
      .logo,
      img {
        height: 100%;
      }
    }

    .sidebar-header-controls {
      float: right;
      display: none;

      .btn {
        @include btn-clear(0, 8px, $ktv-header-height - $ktv-base-unit*4, $ktv-header-height - $ktv-base-unit*4);

        &.action-pin {
          .#{$ktv-prefix-class}sidebar--pin & {
            .fa {
              &:before {
                content: $fa-var-dot-circle-o;
              }
            }
          }
        }
      }
    }

  }

  .#{$ktv-prefix-class}sidebar-menu {
    position: absolute;
    top: $ktv-header-height;
    bottom: 0;
    left: 0;
    width: 100%;

    .kt-sidebar-menu-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      margin-top: $ktv-base-unit*4;
      margin-bottom: $ktv-base-unit*4;
    }

    .menu-items {

      .icon-thumbnail {
        width: $ktv-base-unit*5;
        height: $ktv-base-unit*5;
        display: block;
        float: right;
        text-align: center;
        line-height: $ktv-base-unit*5;
        font-weight: $ktv-font-weight-black;
      }

      .arrow {
        display: block;
        float: left;
        &:before {
          font-family: $CONST-FONT-ICONS;
          content: $fa-var-angle-left;
          display: block;
          @include transition-transform(0.12s ease);
        }
      }

      li {
        color: rgba($ktv-layout-sidebar-menu-color, .4);
        &:hover {
          color: $ktv-layout-sidebar-menu-color;
        }
      }

      @include recursive-link();

      .sub-menu {
        /*background-color: $ktv-color-menu-darker;
        position: relative;
        float: none;
        z-index: inherit;*/
        display: none;
        a {
          text-transform: none;
        }
      }

      .open {
        > a {
          @include sidebar-btn-hover;
          .arrow {
            &:before {
              @include rotate(-90deg);
            }
          }
        }
      }

    }

  }

  // Overload CustomScrollBar
  // --------------------------------------------------

  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }

  .mCSB_scrollTools {
    .mCSB_draggerRail {
      background-color: rgba($ktv-color-white, 0.05);
    }
    .mCSB_dragger {
      .mCSB_dragger_bar {
        background-color: rgba($ktv-color-white, 0.2);
      }
      &:hover {
        .mCSB_dragger_bar {
          background-color: rgba($ktv-color-white, 0.4);
        }
      }

    }
  }

}