/*------------------------------------------------------------------
[6.1 Table theme offers]
  [6.1.1 Scope Variable]
  [6.1.2 Table theme offers]
*/

// [6.1.1 Scope Variable]

$atx-table-theme_offers-table_header-color: $atx-base-color !default;
$atx-table-theme_offers-table_header-background: #f7f7f7 !default;
$atx-table-theme_offers-table_header-border_bottom: none !default; //1px solid #f4f4f4 !default;
$atx-table-theme_offers-row_pli-analysis-border-color: #f7f7f7 !default;
$atx-table-theme_offers-row_pli-title-color: $atx-base-color !default;
$atx-table-theme_offers-row_pli-background-color_even: #f9f9f9 !default;

$atx-table-theme_offers-atx-lot_status-border_left: 1px solid #ffffff !default;
$atx-table-theme_offers-atx-lot_status-border_right: 1px solid #e0e0e0 !default;

// [6.1.2 Table theme offers]
.atx-table.atx-table-offers {

  .atx-table_options {
    &[atx-select-candidates="false"] {
      .deselected-candidates-all {
        display: none;
      }
    }
    &[atx-select-candidates="true"] {
      .select-candidates-all {
        display: none;
      }
    }
  }

  .atx-table-row {

    .atx-icon-lock,
    .atx-icon-loading,
    .atx-icon-failure,
    .atx-icon-save {
      display: none;
    }
    .atx-icon-lock {
      display: block;
    }

    > .atx-table {
      //padding: 0;
      position: relative;
      > .atx-table_header {

        .atx-table_header-cols {
          background: $atx-table-theme_offers-table_header-background;
          border-bottom: $atx-table-theme_offers-table_header-border_bottom;

          .atx-table_header-cols_summary {
            .cell_reference {
              width: 45%;
            }
            .cell_type_date {
              width: 40%;
            }
            .cell_lots {
              //width: 10%;
              //float: left;
            }
          }
        }

        .candidate-name,
        .fold-reference {
          color: $atx-table-theme_offers-table_header-color;
        }

        .fold-date {
          font-size: 90%;
        }

      }
      > .atx-table_row-loader.top {
        top: $atx-base-unit;
      }
      > .atx-table_body {
        display: none;

        .panel-group {
          margin-bottom: 0;
        }

        .panel-attachment,
        .panel-analysis {

          .panel-heading {
            background: #fbfbfb;
            color: #666666;
          }

          .panel-collapse {
            .panel-body {
              padding-top: 0;
            }
          }
        }

        .panel {
          border-radius: 0;
          @include box-shadow(none);
          border: 0;
          border-bottom: 1px solid #fff;
        }
        .panel + .panel {
          margin-top: 0;
          border-top: 1px solid $atx-table-theme_offers-table_header-background;
        }

        .panel-attachment {
          table {
            td {
              padding-left: 24px;
            }
          }
        }

      }
    }


    &.failure{
      .atx-icon-lock,
      .atx-icon-loading,
      .atx-icon-failure,
      .atx-icon-save {
        display: none;
      }
      .atx-icon-failure {
        display: block;
      }
    }

    &.loading {
      .atx-table_row-loader {
        display: block;
      }

      .atx-icon-lock,
      .atx-icon-loading,
      .atx-icon-failure,
      .atx-icon-save {
        display: none;
      }
      .atx-icon-loading {
        display: block;
      }

    }

    &.loaded:hover {
      background-color: transparent;
    }

    &.loaded {

      .atx-icon-lock,
      .atx-icon-loading,
      .atx-icon-failure,
      .atx-icon-save {
        display: none;
      }
      .atx-icon-save {
        display: block;
      }

      .atx-table_header-cols_summary {
        .cell_lots {
          //display: block;
        }
      }

      .atx-list_pli-status {
        display: block;

        .items {
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-property: all;
          transition-property: all;
        }

        .btn-nav {
          position: absolute;
          top: 50%;
          margin-top: -6px;
          display: none;
          &.btn-prev {
            left: 3%;
          }
          &.btn-next {
            right: 3%;
          }
        }

        &.first {
          .btn-prev {
            display: none !important;
          }
        }
        &.last {
          .btn-next {
            display: none !important;
          }
        }
      }

    }

    .table.table-striped {
      margin-bottom: $atx-base-unit;
    }
  }

  .btn-group-status {
    .btn {
      //width: $atx-base-unit*20;
    }
  }

  .atx-list_pli-status {

    display: none;

    &.list {
      margin: auto;
      overflow: hidden;
    }

    .atx-lot_status {
      float: left;
      padding: 0 $atx-base-unit;

      border-left: $atx-table-theme_offers-atx-lot_status-border_left;
      border-right: $atx-table-theme_offers-atx-lot_status-border_right;

      // update
      width: 337px;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      .atx-lot_status-header {
        color: $atx-table-theme_offers-row_pli-title-color;
        font-weight: bold;
        text-align: center;
        padding-bottom: $atx-base-unit/2;
      }
      .atx-lot_status-body {
        font-size: 10px;

        .btn-status-progress {
          $btn-status-progress-color_default: #333333 !default;
          $btn-status-progress-background-color_default: #FFFFFF !default;
          $btn-status-progress-border-color_default: #CCCCCC !default;

          color: $btn-status-progress-color_default;
          background-color: $btn-status-progress-background-color_default;
          border-color: $btn-status-progress-border-color_default;
        }

        .btn {
          text-align: center;
          border-radius: 0;
          @include box-shadow(none); // Redeclare so transitions work
          cursor: default;
          width: $atx-base-unit * 40;
        }

        .status-group {
          overflow: hidden;
          .status {
            float: left;
            .btn {
              width: $atx-base-unit * 20;
              display: none;
              &.active {
                display: block;
              }
            }

          }
        }

      }

      .btn-status-progress {
        display: none;
      }
      .btn-group-status {
        display: block;
      }

      &[atx-status="progress"] {
        .btn-status-progress {
          display: block;
        }
        .btn-group-status {
          display: none;
        }

      }

    }
  }

  .atx-list_pli-analysis {
    .atx-row_pli-header,
    .atx-row_pli-title {
      display: none;
    }

    &.list {

      .atx-row_pli {
        padding-left: $atx-base-unit*2;
        padding-right: $atx-base-unit*2;
        padding-top: $atx-base-unit;
      }

      .atx-row_pli-header {
        display: block;
        background: #f9f9f9;
        border-bottom: 1px solid $atx-table-theme_offers-row_pli-analysis-border-color;
        //margin-top: -15px;
      }

      .atx-row_pli-title {
        display: block;
        color: $atx-table-theme_offers-row_pli-title-color;
        font-weight: bold;
        font-size: 120%;
        margin-bottom: 8px;
        margin-left: 0;
      }

      .atx-row_pli-body {
        .atx-row_pli-header {
          border-bottom: none;
        }
        .atx-row_pli {
          border-top: 1px solid $atx-table-theme_offers-row_pli-analysis-border-color;
          &:first-child {
            border-color: lighten($atx-table-theme_offers-row_pli-analysis-border-color, 10%);
          }
        }

        .atx-row_pli + .atx-row_pli {
          padding-bottom: 0;

          &:nth-child(even) {
            background: $atx-table-theme_offers-row_pli-background-color_even;
          }
        }
      }

    }

  }

}

