/* [1.6] Horizontal Menu
------------------------------------
*/

// Variable
// --------------------------------------------------
$ktv-layout-hzm-height: $ktv-header-height !default;
$ktv-layout-hzm-background: $ktv-color-white !default;

// Making
// --------------------------------------------------

.#{$ktv-prefix-class}horizontal-menu {
  background-color: $ktv-layout-hzm-background;
  z-index: $ktv-zIndex-navbar;

  .#{$ktv-prefix-class}sidebar--floating.#{$ktv-prefix-class}sidebar--pin & {
    padding-left: 0;
  }

  .#{$ktv-prefix-class}header & {
    padding-left: 0;
    float: left;
  }

  .navbar {
    margin: 0;
    border: 0;

    .navbar-nav {
      li a {
        color: $dropdown-link-color;
      }

      > li > a {
        .#{$ktv-prefix-class}header & {
          //line-height: $ktv-layout-header-height;
          font-size: $font-size-large;
          height: $ktv-layout-header-height - 1;
          padding-top: (($ktv-layout-header-height - $line-height-computed) / 2);
          padding-bottom: (($ktv-layout-header-height - $line-height-computed) / 2);
        }
      }

    }

  }

  @media screen and (min-width: 768px) {

    .megamenu {
      position: inherit;
      > .dropdown-menu {
        left: 0;
        right: 0;

        padding-top: $ktv-base-unit*2;
        padding-bottom: $ktv-base-unit*2;
        // The dropdown menu (ul)
        & {
          border-radius: 0;
          //border-top:0;
          @include box-shadow(0 4px 9px rgba(0, 0, 0, .075));

          // Links within the dropdown menu
          li {
            a {

              display: block;
              clear: both;
              font-weight: normal;
              line-height: $line-height-base;
              color: $dropdown-link-color;
              white-space: nowrap; // prevent links from randomly breaking onto new lines

              // Hover/Focus state

              &:hover,
              &:focus,
              &.active {
                text-decoration: none;
                color: $link-color;
              }

            }
            &.active > a {
              text-decoration: none;
              color: $link-color;
            }
          }

          // Active state
          .active > a {
            &,
            &:hover,
            &:focus {
              color: $link-hover-decoration;
              text-decoration: none;
              outline: 0;
            }
          }

          // Disabled state
          //
          // Gray out text and ensure the hover/focus state remains gray

          .disabled a {
            &,
            &:hover,
            &:focus {
              color: $dropdown-link-disabled-color;
            }

            // Nuke hover/focus effects
            &:hover,
            &:focus {
              text-decoration: none;
              background-color: transparent;
              background-image: none; // Remove CSS gradient
              @include reset-filter;
              cursor: $cursor-disabled;
            }
          }

        }
      }
    }

  }

  .dropdown-md > .dropdown-menu {
    min-width: 450px;
  }

  .dropdown-lg > .dropdown-menu {
    min-width: 850px;
  }
}