// Typography
/* Misc
------------------------------------
*/
.hint-text,
.help {
  opacity: .7;
}

.no-decoration {
  text-decoration: none !important;
}

.text-bold {
  font-weight: $ktv-font-weight-bold;
}

.text-bolder {
  font-weight: $ktv-font-weight-black;
}

/* Lins and Others
------------------------------------
*/
a {
  text-shadow: none !important;
  @include transition($ktv-link-transition);
}