// Typography
/* Misc
------------------------------------
*/
.hint-text{
  opacity: .7;
}
.no-decoration{
  text-decoration:none !important;
}
/* Lins and Others
------------------------------------
*/
a {
  text-shadow: none !important;
  @include transition($ktv-link-transition);
}