// Typography
/* Misc
------------------------------------
*/
.hint-text,
.help {
  opacity: .6;
}

.no-decoration {
  text-decoration: none !important;
}

// Text Weight
//------------------------------------
.text-thin {
  font-weight: $ktv-font-weight-thin !important;
}

.text-light {
  font-weight: $ktv-font-weight-light !important;
}

.text-regular {
  font-weight: $ktv-font-weight-regular !important;
}

.text-medium {
  font-weight: $ktv-font-weight-medium !important;
}

.text-bold {
  font-weight: $ktv-font-weight-bold !important;
}

.text-black {
  font-weight: $ktv-font-weight-black !important;
}

// Text Transform
//------------------------------------
.text-transform-capitalize {
  text-transform: capitalize !important;
}

.text-transform-lowercase {
  text-transform: lowercase !important;
}

.text-transform-uppercase {
  text-transform: uppercase !important;
}

.text-transform-none {
  text-transform: none !important;
}

/* Lins and Others
------------------------------------
*/
a {
  text-shadow: none !important;
  @include transition($ktv-link-transition);
  &.active {
    color: $link-hover-color;
  }
}