// Trends Default Theme
// --------------------------------------------------
// Copyright Reserved AA - 2017
// --------------------------------------------------

//
// Legend
// --------------------------------------------------
/**
  kt    : Kite Trends
  ktv   : Kite Trends Variable
 */

//
// Variables
// --------------------------------------------------

// CONST
// --------------------------------------------------
$CONST-NAMESPACE: "kt";
$CONST-AUTO-GENERATE: false !default;
$CONST-ING-URL: "../img";
$CONST-ASSETS-URL: "../../assets";

// Const Lighter Percent
$CONST-PERCENT-light: 16%;
$CONST-PERCENT-lighter: 9.5%;
$CONST-PERCENT-lightest: 3%;

// Const Darker Percent
$CONST-PERCENT-dark: 45%;
$CONST-PERCENT-darker: 27%;
$CONST-PERCENT-darkest: 18%;

/**
 **
 ** Base
 **
 */

$ktv-prefix-class: #{$CONST-NAMESPACE}-;
$ktv-base-unit: 8px !default;
$ktv-base-color: #1976D2 !default;

// Global Color
// --------------------------------------------------
// Base Grey Guided Color * change only $base-light
// --------------------------------------------------

//Base Grey Color
$ktv-color-master: #626262;

// Lighter Grey colors
$ktv-color-master-light: mix($ktv-color-master, #fff, $CONST-PERCENT-light);
$ktv-color-master-lighter: mix($ktv-color-master, #fff, $CONST-PERCENT-lighter);
$ktv-color-master-lightest: mix($ktv-color-master, #fff, $CONST-PERCENT-lightest);

// Darker Grey colors
$ktv-color-master-dark: mix($ktv-color-master, #000, $CONST-PERCENT-dark);
$ktv-color-master-darker: mix($ktv-color-master, #000, $CONST-PERCENT-darker);
$ktv-color-master-darkest: mix($ktv-color-master, #000, $CONST-PERCENT-darkest);

$ktv-color-white: #fff;
$ktv-color-black: #000;

$ktv-color-success: #10cfbd;
$ktv-color-complete: #48b0f7;
$ktv-color-primary: #6d5cae;
$ktv-color-warning: #f8d053;
$ktv-color-danger: #f55753;
$ktv-color-info: #3b4752;

$base-font-family: "Roboto", Arial, sans-serif;

/**
 **
 ** Bootstrap
 **
 */
$brand-primary: $ktv-base-color !default; // #2f7aba
$brand-success: $ktv-color-success;
$brand-info: $ktv-color-complete;
$brand-warning: $ktv-color-warning;
$brand-danger: $ktv-color-danger;

$state-success-text: $ktv-color-success !default;
$state-info-text: $ktv-color-complete !default;
$state-warning-text: $ktv-color-warning !default;
$state-danger-text: $ktv-color-danger !default;